DOMAIN=cloud.example.com
CLOUDREVE_VERSION=3.8.3
CLOUDREVE_PORT=5212
CLOUDREVE_DB_NAME=cloudreve
CLOUDREVE_DB_USER=cloudreve
CLOUDREVE_DB_PASS=ChangeMeStrongPassword
CLOUDREVE_INSTALL_DIR=/opt/cloudreve
WEB_ROOT=/var/www/cloudreve
